{% extends 'first/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Портал новостей {% endblock %}

{% block content %}
<div class="page-header text-center">
    <h1>Добавить новость</h1>
</div>
<div class="col-10 offset-1">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ image_form|crispy }}
        {% comment %}
        {{ form.title|as_crispy_field }}
        {{ form.anouncement|as_crispy_field }}
        {{ form.text|as_crispy_field }}
        {{ form.tags|as_crispy_field }}
        {{ form.image_field|as_crispy_field }}
        {% endcomment %}
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Опубликовать">
        </div>
    </form>
</div>
{% endblock %}

