<div class="page-header text-center">
    <h1>Опубликовать новость на сайте</h1>
</div>

<div class="form-group">
    <label class="control-label col-sm-3" for="comment">Заголовок новости:</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="3" id="news_header"></textarea>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-3" for="comment">Текст новости:</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="10" id="news_text"></textarea>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
        <button type="submit" class="btn btn-default">Опубликовать</button>
    </div>
</div>
