{% extends 'first/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Портал новостей {% endblock %}

{% block content %}

<div class="page-header text-center">
    <h1> Профиль пользователя {{ user.username }} </h1>
</div>
<div class="row gutters-sm">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ profile.image.url }}" class="rounded-circle" width="200">
                    <div>
                        <h4> {{ user.username }} </h4>
                    </div>
                </div>
            </div>
        </div>
        {% if profile.website or profile.github %}
        <div class="card mt-3">
            <ul class="list-group list-group-flush mt-0 mb-0">
                {% if profile.website %}
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>
                        Website
                    </div>
                    <a href="{{ profile.website }}">{{ profile.website }}</a>
                </li>
                {% endif %}
                {% if profile.github %}
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                        Github
                    </div>
                    <a href="{{ profile.github }}">{{ profile.github }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        {% if request.user.id %}
        <div class="card mt-3">
            <ul class="list-group list-group-flush mt-0 mb-0">
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <div>
                        Роль:
                    </div>
                    <div class="text-secondary">
                        {% if user.is_staff %}
                        Администратор
                        {% elif user.groups.first.name == 'Author' %}
                        Автор
                        {% else %}
                        Читатель
                        {% endif %}
                    </div>
                </li>
                {% if not user.is_staff %}
                <li class="list-group-item flex-wrap">
                    <div>
                        Разрешения:
                    </div>
                    <div class="text-secondary">
                        <ul>
                            <li>Просматривать все новости</li>
                            <li>Комментировать все новости</li>
                            <li>Добавлять новости в избранное</li>
                            {% if user.groups.first.name == 'Author' %}
                            <li>Публиковать свои новости</li>
                            <li>Редактировать свои новости</li>
                            <li>Удалять свои новости</li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                {% if user.groups.first.name == 'Reader' and request.user == user %}
                <li class="list-group-item text-center">
                    <div>
                        Хочешь стать автором? <a href="{% url 'profile_author' %}">Нажми сюда</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-md-7">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-sm-5">
                        Полное имя
                    </div>
                    <div class="col-sm-7 text-secondary">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        Дата рождения
                    </div>
                    <div class="col-sm-7 text-secondary">
                        {% if profile.birthdate %}
                        {{ profile.birthdate }}
                        {% else %}

                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        Email
                    </div>
                    <div class="col-sm-7 text-secondary">
                        {{ user.email }}
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col-sm-5">
                        Телефон
                    </div>
                    <div class="col-sm-7 text-secondary">
                        {{ profile.phone }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row gutters-sm">
            <div class="col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="text-center fs-3">
                            Статистика пользователя
                        </div>
                        <br>
                        <div>
                            <small>
                                Профиль заполнен на:
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar" role="progressbar" style="width: {{ complete }}%;"
                                         aria-valuenow="00" aria-valuemin="0" aria-valuemax="100">{{ complete }}%
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        Зарегистрирован на сайте
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{ user.date_joined }}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        Последний вход
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{ user.last_login }}
                                    </div>
                                </div>
                                <br>
                                {% if user.groups.first.name == 'Author' and profile.art_count > 0 %}
                                <div class="row">
                                    <div class="col-sm-5">
                                        Опубликовано новостей
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        <a href="{% url 'news_search' 'author' user.id %}">{{ profile.art_count }}</a>
                                    </div>
                                </div>
                                <br>
                                {% endif %}
                                {% if f_count > 0 %}
                                <div class="row">
                                    <div class="col-sm-5">
                                        Избранных новостей
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        <a href="{% url 'news_search' 'bookmark' user.id %}">{{ f_count }}</a>
                                    </div>
                                </div>
                                <br>
                                {% endif %}

                                <div class="row">
                                    <div class="col-sm-5">
                                        Комментариев
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{ profile.com_count }}
                                    </div>
                                </div>
                            </small></div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user == profile.user %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'profile_update' %}">Изменить профиль</a>
            <a class="btn btn-danger" href="{% url 'profile_delete' %}">Удалить профиль</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

