{% extends 'store/homebase.html' %}
{% load static %}
{% block title %} Шопоголики {% endblock %}
{% block description %} Описание {% endblock %}
{% block keywords %} Ключевые слова {% endblock %}

{% block header %} {% include 'store/header.html' %} {% endblock %}
{% block footer %} {% include 'store/footer.html' %} {% endblock %}
{% block slider %} {% include 'store/slider.html' %} {% endblock %}
{% block content %} {% include 'store/content.html' %} {% endblock %}
{% block sidebar %} {% include 'store/sidebar.html' %} {% endblock %}
