{% extends 'first/base.html' %}
{% load static %}
{% block title %} Портал новостей {% endblock %}

{% block content %}
        {% include 'first/home.html' %}
<!--    {% if request.resolver_match.view_name == 'home' %}-->
<!--        {% include 'first/home.html' %}-->
<!--    {% elif request.resolver_match.view_name == 'list-news' %}-->
<!--        {% include 'news/news.html' %}-->
<!--    {% elif request.resolver_match.view_name == 'add-news' %}-->
<!--        {% include 'news/news_add.html' %}-->
<!--    {% elif request.resolver_match.view_name == 'user' %}-->
<!--        {% include 'first/user.html' %}-->
<!--    {% else %}-->
<!--        <div class="alert alert-danger page-header text-center">-->
<!--            <h1><strong>Ошибка 404:</strong> страница не найдена</h1>-->
<!--        </div>-->
<!--    {% endif %}-->
{% endblock %}

