<div class="page-header text-center">
  <h1>Все новости списком</h1>
</div>
<h4><small>Последние новости</small></h4>

<h2>Новость 1</h2>
<h4><span class="glyphicon glyphicon-time"></span> Опубликована 21.11.2023. </h4>
<h4><span class="label label-danger">Тэг1</span></h4>
<p>Текст новости...</p>

<hr>
<h4>Добавить комментарий:</h4>
<form role="form">
    <div class="form-group">
        <textarea class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Опубликовать</button>
</form>

<br><br>
<hr>

<h2>Новость 2</h2>
<h4><span class="glyphicon glyphicon-time"></span> Опубликована 20.11.2023. </h4>
<h4><span class="label label-success">Тэг2</span></h4>
<p>Текст новости...</p>

<hr>
<h4>Добавить комментарий:</h4>
<form role="form">
    <div class="form-group">
        <textarea class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Опубликовать</button>
</form>