<div class="page-header text-center">
    <h1>Портал новостей</h1>
</div>
<ul class="nav nav-pills nav-stacked flex-sm-column fs-3">
    <li>
        <a class="nav-item" href="{% url 'home_index' %}">
            <i class="glyphicon glyphicon-home active"></i>
            Главная страница</a>
    </li>
    <li>
        <a class="nav-item" href="{% url 'news_index' %}">
            <i class="glyphicon glyphicon-list"></i>
            Все новости</a>
    </li>
    <hr>

    {% if not request.user.id %}
    <li><a class="nav-item" href="{% url 'register' %}">
        <i class="glyphicon glyphicon-check"></i>
        Регистрация</a></li>
    <li><a class="nav-item" href="{% url 'login' %}">
        <i class="glyphicon glyphicon-log-in"></i>
        Войти</a></li>
    {% else %}
    <li><a class="nav-item" href="{% url 'profile' request.user.id %}">
        <i class="glyphicon glyphicon-user"></i>
        Профиль</a>
    </li>
    <li><a class="nav-item" href="{% url 'news_search' 'bookmark' request.user.id %}">
        <i class="glyphicon glyphicon-list"></i>
        Избранное</a>
    </li>
    {% if user.groups.first.name == 'Author' %}
    <li><a class="nav-item" href="{% url 'news_search' 'author' request.user.id %}">
        <i class="glyphicon glyphicon-list"></i>
        Мои новости</a>
    </li>
    <li><a class="nav-item" href="{% url 'news_add' %}">
        <i class="glyphicon glyphicon-edit"></i>
        Опубликовать новость</a>
    </li>
    {% endif %}
    <li><a class="nav-item" href="{% url 'logout' %}">
        <i class="glyphicon glyphicon-log-out"></i>
        Выйти</a>
    </li>
    {% endif %}
    {% comment %}
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="">
            <i class="glyphicon glyphicon-user"></i>
            {% if not request.user.id %}
            Пользователь
            {% else %}
            {{ request.user }}
            {% endif %}
        </a>
        {% if not request.user.id %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'register' %}">
                <i class="glyphicon glyphicon-check"></i>
                Регистрация</a></li>
            <li><a class="nav-item dropdown-item" href="{% url 'login' %}">
                <i class="glyphicon glyphicon-log-in"></i>
                Войти</a></li>
        </ul>
        {% else %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">
                <i class="glyphicon glyphicon-user"></i>
                Профиль</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'news_search' 'bookmark' request.user.id %}">
                <i class="glyphicon glyphicon-list"></i>
                Избранное</a>
            </li>
            {% if user.groups.first.name == 'Author' %}
            <li><a class="dropdown-item" href="{% url 'news_search' 'author' request.user.id %}">
                <i class="glyphicon glyphicon-list"></i>
                Мои новости</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'news_add' %}">
                <i class="glyphicon glyphicon-edit"></i>
                Опубликовать новость</a>
            </li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'logout' %}">
                <i class="glyphicon glyphicon-log-out"></i>
                Выйти</a>
            </li>
        </ul>
        {% endif %}
    </li>
    {% endcomment %}
    <hr>
    <li>
        <a {% if not request.user.is_staff %} class="nav-link disabled" {% endif %} href="/admin/">
            <i class="glyphicon glyphicon-wrench"></i>
            Панель админа</a>
    </li>
</ul>
{% comment %}
<br>
<div class="input-group">
    <input type="text" class="form-control" id="search_input" placeholder="Поиск по новостям...">
    <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
</div>
{% endcomment %}
{% if messages %}
{% for message in messages %}
<br>
<div class="text-center alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}